body {
    background: url("../img/background.png");
    font-family: Arial, Helvetica, Verdana, sans-serif;
    margin: 0 !important;
    color: white;
}

img {
    width: 18%;
    height: 120px;
    display: inline-block;
    float: left;
    margin: 1%;
}

@media only screen and (min-width: 600px) {
    img {height: 165px;}
}

@media only screen and (min-width: 1100px) {
    img {height: 215px;}
}

@media only screen and (min-width: 1550px) {
    img {height: 255px;}
}

@media only screen and (min-width: 1800px) {
    img {height: 310px }
}

@media only screen and (min-width: 2400px) {
    img {height: 400px }
}

@media only screen and (min-width: 3000px) {
    img {height: 480px }
}

@media only screen and (min-width: 3500px) {
    img {height: 550px }
}

@media only screen and (min-width: 4500px) {
    img {height: 800px }
}

h3 {
    text-align: center;
}

/* pojemnik na wszystko na kazdej podstronie */
#container {
    margin: auto;
    width: 100%;
    height: 90%;
    text-shadow: 1px 1px 1px #000;
}

/* domyślne pola logowania/rejestracji */
input[type=text],
input[type=password],
input[type=email] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 10px;
}

/* Pola po kliknięciu w logowaniu/rejestracji */
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
    -moz-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
    box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
    border: 2px solid green;
    color: green;
}

/* aktywne pola przy logowaniu/rejestracji */
input[type=text]:hover,
input[type=password]:hover,
input[type=email]:hover {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
    -moz-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
    box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
    border: 2px solid #3b8e4f;
    background-color: white;
    color: black;
}

/* przycisk submit */
input[type=submit] {
    width: 25%;
    background-color: #3b8e4f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
}

input[type=submit]:hover {
    background-color: #4CAF50;
}

/* komunikaty przy formularzach */
.error {
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}

.success {
    color: green;
    margin-top: 10px;
    margin-bottom: 10px;
}

.statusSuccess {
    color: green;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* formularze logowania rejestracji */
#flogin {
    border: solid;
    margin-left: 29%;
    border-radius: 5px;
    background-color: #282828;
    text-align: center;
    width: 40%;
    padding: 1%;
    border-radius: 25px;
    color: white;
}

#frej {
    margin-top: 10px;
    border: solid;
    margin-left: 29%;
    border-radius: 5px;
    background-color: #282828;
    text-align: center;
    width: 40%;
    padding: 1%;
    border-radius: 25px;
    color: white;
}

/* tekst nad logowanie */
#top {
    text-align: center;
    color: white;
}

/* obszar roboczy w ustawieniach */
.mid {
    margin: 1% 25% 1% 25%;
    width: 50%;
    background-color: #282828;
    height: 90%;
    -webkit-box-shadow: inset 0px 0px 216px -94px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: inset 0px 0px 216px -94px rgba(0, 0, 0, 0.31);
    box-shadow: inset 0px 0px 216px -94px rgba(0, 0, 0, 0.31);
    border-radius: 2.5%;
    color: white;
    border: solid;
}

/* formularze w zmianie danych */
#password {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    line-height: 40px;
}

#email {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    line-height: 40px;
}

#account {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    line-height: 40px;
}

/* opis formularzy*/
.title {
    text-decoration: underline;
    font-size: 30px;
    color: grey;
}

/* Style menu */
#menu,
.lista_buttons,
.selected {
    background-color: #282828;
    width: 100%;
    height: 10%;
}

li {
    list-style-type: none;
}

.menu-option,
.lista_buttons,
.selected {
    color: #282828;
    float: left;
    width: 23%;
    height: 40px;
    margin: 0.5%;
    text-align: center;
    line-height: 40px;
    background-color: #3b8e4f;
    border-radius: 100px;
    display: inline-block;
    letter-spacing: 5px;
    text-transform: uppercase;
    border: double white;
    cursor: pointer;
}

.menu-option:hover,
.selected {
    background-color: #4CAF50;
    color: white;
}

.lista_buttons,
.selected {
    width: 200px;
    height: 50px;
}

/*style stopki */
#foot {
    background-color: #5F5F5F;
    width: 100%;
    text-align: center;
    height: 5%;
    color: white;
}

/* mój css */
.ok {
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 20%;
}

a.link:link {
    color: red;
    text-decoration: none;
}

a.link:visited {
    color: pink;
    text-decoration: none;
}

a.link:active {
    color: green;
    text-decoration: none;
}

a.link:hover {
    color: purple;
    text-decoration: none;
}

/* style do listy głównej */
.left {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
    height: 100%;
    width: 20%;
    text-align: center;
    display: inline-block;
    float: left;
}

.left button {
    width: 90%;
    margin-top: 5px;
    margin-left: 5%;
}

.right button {
    width: 90%;
    margin: 5px;
    margin-left: 5%;
}

#search {
    width: 90%;
}

.center {
    margin-left: 20%;
    height: 100%;
    width: 60%;
    display: inline-block;
    float: left;
}

.right {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
    height: 100%;
    width: 20%;
    text-align: center;
    display: inline-block;
    float: left;
}

.filtr {
    color: white;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

.pages {
    text-align: center;
}

/* klasy tymczasowe */
.tmp {
    width: 100%;
    height: 100%;
}


/* fotki w liscie */
.movies_center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bakamovie {
    width: 100%;
    float: left;
}

.bakamovie img {
    width: auto;
}

.movie input {
    max-width: 16%;
    max-height: auto;
    float: left;
    margin: 16px;
}

.movie input:hover {
    -webkit-filter: blur(1px);
}