<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Movie Rating System</title>

    <link rel="stylesheet" th:href="@{css/main.css}"
          crossorigin="anonymous">

</head>

<body>
<div id="container">
    <div id="menu">
        <a class="link" th:href="@{/movieBest(page='1')}">
            <div class="menu-option">
                <li class="text_menu">Lista filmów</li>
            </div>
        </a>
        <a class="link" th:href="@{/myList}">
            <div class="menu-option">
                <li class="text_menu">Moja lista</li>
            </div>
        </a>
        <a class="link" th:href="@{/settings}">
            <div class="menu-option">
                <li class="text_menu">Moje konto</li>
            </div>
        </a>
        <a class="link" th:href="@{/logout}">
            <div class="menu-option">
                <li class="text_menu">Wyloguj się</li>
            </div>
        </a>

    </div>
    <div style="clear: both;"></div>
    <div class="left">
        <div class="filtr" th:if="${Movies != null}">
            <form class="filters" th:action="@{/tvSeriesBest}">
                <button class="lista_buttons" type="submit">Seriale</button>
                <button class="selected" type="submit">Filmy</button>
            </form>
            <form class="filters" th:action="@{/filter}" method="post">
                <br>Sortowanie<br>
                <input type="hidden" th:name="type" th:attr="value=${Tv != null ? 'TV' : 'MOVIE'}">
                <select name="sort" class="sort">
                    <option th:value="highRate">Najwyżej ocenione</option>
                    <option th:value="lowRate">Najniżej ocenione</option>
                    <option th:value="popularityDesc">Popularność malejąco</option>
                    <option th:value="popularityAsc">Popularność rosnąco</option>
                </select>
                <button class="lista_buttons" type="submit">Sortuj</button>
            </form>
        </div>
        <div class="filtr" th:if="${Tv != null}">
            <form class="filters" th:action="@{/movieBest}">
                <button class="selected" type="submit">Seriale</button>
                <button class="lista_buttons" type="submit">Filmy</button>
            </form>
            <form class="filters" th:action="@{/filter}" method="post">
                <br>Sortowanie<br>
                <input type="hidden" th:name="type" th:attr="value=${Tv != null ? 'TV' : 'MOVIE'}">
                <select name="sort" class="sort">
                    <option th:value="highRate">Najwyżej ocenione</option>
                    <option th:value="lowRate">Najniżej ocenione</option>
                    <option th:value="popularityDesc">Popularność malejąco</option>
                    <option th:value="popularityAsc">Popularność rosnąco</option>
                </select>
                <button class="lista_buttons" type="submit">Sortuj</button>
            </form>
        </div>
    </div>
    <div class="center">
        <div class="movie" th:if="${Movies != null}" th:each="m : ${Movies}">
            <div th:if="${m.posterPath != 'https://image.tmdb.org/t/p/originalnull'}">
                <a th:href="@{/movie(id=${m.id})}"><img th:src="${m.posterPath}"></a>
            </div>
            <div th:if="${m.posterPath == 'https://image.tmdb.org/t/p/originalnull'}">
                <a th:href="@{/movie(id=${m.id})}"><img th:src="@{img/nocover.jpg}"></a>
            </div>
        </div>
        <div class="movie" th:if="${Tv != null}" th:each="t : ${Tv}">
            <div th:if="${t.posterPath != 'https://image.tmdb.org/t/p/originalnull'}">
                <a th:href="@{/tvSeries(id=${t.id})}"><img th:src="${t.posterPath}"></a>
            </div>
            <div th:if="${t.posterPath == 'https://image.tmdb.org/t/p/originalnull'}">
                <a th:href="@{/tvSeries(id=${t.id})}"><img th:src="@{img/nocover.jpg}"></a>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="filtr">
            <form class="search" th:action="@{/searchResults}">
                <input type="text" placeholder="Szukaj" id="search" name="query" th:value="${query}">
                <input type="hidden" name="type" th:attr="value=${Tv != null ? 'TV' : 'MOVIE'}">
                <button class="lista_buttons" type="Submit">Szukaj</button>
            </form>
            </form>
        </div>
    </div>
    <div style="clear: both;"></div>
    <div class="pages">
        <form th:action="@{/nextPage}" method="post">
            <input th:type="hidden" th:name="pageCategory" th:value="${pageCategory}">
            <button type="Submit" th:name="page" th:value="1">&lt;&lt;</button>
            <button type="Submit" th:name="page" th:value="${page <= 1} ? ${page} : ${page} - 1 ">&lt;</button>
            <button type="Submit" th:name="page" th:value="${page}" th:text="${page}"></button>
            <button type="Submit" th:name="page" th:value="${page >= totalPages} ? ${totalPages} : ${page} + 1 ">&gt;
            </button>
            <button type="Submit" th:name="page" th:value="${totalPages}">&gt;&gt;</button>
        </form>
    </div>
<!--    <div class="pages" th:if="${Tv != null}">-->
<!--        <form th:action="@{/tvSeriesBest}">-->
<!--            <button type="Submit" th:name="page" th:value="1">&lt;&lt;</button>-->
<!--            <button type="Submit" th:name="page" th:value="${page <= 1} ? ${page} : ${page} - 1 ">&lt;</button>-->
<!--            <button type="Submit" th:name="page" th:value="${page}" th:text="${page}"></button>-->
<!--            <button type="Submit" th:name="page" th:value="${page >= totalPages} ? ${totalPages} : ${page} + 1 ">&gt;-->
<!--            </button>-->
<!--            <button type="Submit" th:name="page" th:value="${totalPages}">&gt;&gt;</button>-->
<!--        </form>-->
<!--    </div>-->
</div>
</body>
</html>
