<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Movie Rating System</title>

    <link rel="stylesheet" th:href="@{css/main.css}"
          crossorigin="anonymous">

</head>

<body>
<div id="container">
    <div id="menu">
        <a class="link" th:href="@{/movieBest(page='1')}">
            <div class="menu-option">
                <li class="text_menu">Lista filmów</li>
            </div>
        </a>
        <a class="link"  th:href="@{/myList}">
            <div class="menu-option">
                <li class="text_menu">Moja lista</li>
            </div>
        </a>
        <a class="link" th:href="@{/settings}">
            <div class="menu-option">
                <li class="text_menu">Moje konto</li>
            </div>
        </a>
        <a class="link" th:href="@{/logout}">
            <div class="menu-option">
                <li class="text_menu">Wyloguj się</li>
            </div>
        </a>

    </div>
    <div style="clear: both;"></div>
    <div class="left">
        <div class="filtr" th:if="${bestMovies != null}">
            <form class="filters" th:action="@{/tvSeriesBest}">
                <button class="lista_buttons" type="submit" th:name="page" th:value="${page}">Seriale</button>
                <button class="selected" type="submit" th:name="page" th:value="${page}">Filmy</button>
            </form>
            <form class="filters" action="">
                <br>Sortowanie<br>
                <select name="sort" class="sort">
                    <option value="popularity.desc">Popularność malejąco</option>
                    <option value="popularity.asc">Popularność rosnąco</option>
                    <option value="release_date.asc">Najnowsze</option>
                    <option value="release_date.desc">Najstarsze</option>
                    <option value="original_title.asc">Orginalny tytuł: Od A do Z</option>
                    <option value="original_title.desc">Orginalny tytuł: Od Z do A</option>
                </select>
                <button class="lista_buttons" type="submit">Sortuj</button>
            </form>
        </div>
        <div class="filtr" th:if="${bestTv != null}">
            <form class="filters" th:action="@{/movieBest}">
                <button class="selected" type="submit" th:name="page" th:value="${page}">Seriale</button>
                <button class="lista_buttons" type="submit" th:name="page" th:value="${page}">Filmy</button>
            </form>
            <form class="filters" action="">
                <br>Sortowanie<br>
                <select name="sort" class="sort">
                    <option value="popularity.desc">Popularność malejąco</option>
                    <option value="popularity.asc">Popularność rosnąco</option>
                    <option value="release_date.asc">Najnowsze</option>
                    <option value="release_date.desc">Najstarsze</option>
                    <option value="original_title.asc">Orginalny tytuł: Od A do Z</option>
                    <option value="original_title.desc">Orginalny tytuł: Od Z do A</option>
                </select>
                <button class="lista_buttons" type="submit">Sortuj</button>
            </form>
        </div>
    </div>
    <div class="center">
                <div class="movie" th:if="${bestMovies != null}" th:each="Best : ${bestMovies}">
                    <div th:if="${Best.posterPath != 'https://image.tmdb.org/t/p/originalnull'}">
                        <a th:href="@{/movie(id=${Best.id})}"><img th:src="${Best.posterPath}"></a>
                    </div>
                    <div th:if="${Best.posterPath == 'https://image.tmdb.org/t/p/originalnull'}">
                        <a th:href="@{/movie(id=${Best.id})}"><img th:src="@{img/nocover.jpg}"></a>
                    </div>
                </div>
                <div class="movie" th:if="${bestTv != null}" th:each="Best : ${bestTv}">
<!--                    <a th:href="@{/tvSeries(id=${Best.id})}"><img th:src="${Best.posterPath}"></a>-->
                    <div th:if="${Best.posterPath != 'https://image.tmdb.org/t/p/originalnull'}">
                        <a th:href="@{/tvSeries(id=${Best.id})}"><img th:src="${Best.posterPath}"></a>
                    </div>
                    <div th:if="${Best.posterPath == 'https://image.tmdb.org/t/p/originalnull'}">
                        <a th:href="@{/tvSeries(id=${Best.id})}"><img th:src="@{img/nocover.jpg}"></a>
                    </div>
                </div>
    </div>
    <div class="right">
        <div class="filtr">
            <form class="search" action="">
                <input type="hidden" name="type" value="' . $type . '">
                <input type="search" placeholder="Szukaj" id="search" name="search">
                <button class="lista_buttons" type="Submit">Szukaj</button>
            </form>
            </form>
            <form class="search" action="">
                <input type="hidden" name="search" value="">
                <button class="lista_buttons" type="Submit">Czyść</button>
            </form>
        </div>
    </div>
    <div style="clear: both;"></div>
    <div class="pages" th:if="${bestMovies != null}">
        <form th:action="@{/movieBest}">
            <button type="Submit" th:name="page" th:value="1">&lt;&lt;</button>
            <button type="Submit" th:name="page" th:value="${page <= 1} ? ${page} : ${page} - 1 ">&lt;</button>
            <button type="Submit" th:name="page" th:value="${page}" th:text="${page}"></button>
            <button type="Submit" th:name="page" th:value="${page >= totalPages} ? ${totalPages} : ${page} + 1 ">&gt;
            </button>
            <button type="Submit" th:name="page" th:value="${totalPages}">&gt;&gt;</button>
        </form>
    </div>
    <div class="pages" th:if="${bestTv != null}">
        <form th:action="@{/tvSeriesBest}">
            <button type="Submit" th:name="page" th:value="1">&lt;&lt;</button>
            <button type="Submit" th:name="page" th:value="${page <= 1} ? ${page} : ${page} - 1 ">&lt;</button>
            <button type="Submit" th:name="page" th:value="${page}" th:text="${page}"></button>
            <button type="Submit" th:name="page" th:value="${page >= totalPages} ? ${totalPages} : ${page} + 1 ">&gt;
            </button>
            <button type="Submit" th:name="page" th:value="${totalPages}">&gt;&gt;</button>
        </form>
    </div>
</div>
</body>
</html>
