<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Movie Rating System</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{css/register.css}"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
<!--    <link th:href="@{/static/css/register.css}" type="text/css"/>-->
<!--    <link href="../static/css/register.css" th:href="@{css/register.css}" rel="stylesheet" media="screen"/>-->
</head>
<body>
<div class="container right-panel-active">
    <!-- Sign Up -->
    <div class="container__form container--signup">
        <form th:action="@{/registration}" method="post" class="form" id="form1" th:object="${user}">
            <h2 class="form__title">Sign Up</h2>
            <input type="text" placeholder="username" class="input" th:field="*{username}"/>
            <input type="email" placeholder="Email" class="input" th:field="*{email}"/>
            <input type="password" placeholder="Password" class="input" th:field="*{password}"/>
            <button class="btn">Sign Up</button>
        </form>
    </div>

    <!-- Sign In -->
    <div class="container__form container--signin">
        <form th:action="@{/login}" method="post" class="form" id="form2">
            <h2 class="form__title">Sign In</h2>
            <input type="text" placeholder="Username or Email" class="input" />
            <input type="password" placeholder="Password" class="input" />
<!--            <a href="#" class="link">Forgot your password?</a>-->
            <button class="btn">Sign In here</button>
        </form>
    </div>

    <!-- Overlay -->
    <div class="container__overlay">
        <div class="overlay">
            <div class="overlay__panel overlay--left">
                <button class="btn" id="signIn">Sign In</button>
            </div>
            <div class="overlay__panel overlay--right">
                <button class="btn" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/js" src="/static/js/loginregister.js" th:src="@{/static/js/loginregister.js}"></script>
</html>