<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{css/main.css}"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/movie.css}">
    <title>Moja Lista</title>
</head>
<body style="color:white">
<div id="container">
    <div id="menu">
        <a class="link" th:href="@{/movieBest(page='1')}">
            <div class="menu-option">
                <li class="text_menu">Lista filmów</li>
            </div>
        </a>
        <a class="link" th:href="@{/myList}">
            <div class="menu-option">
                <li class="text_menu">Moja lista</li>
            </div>
        </a>
        <a class="link" th:href="@{/settings}">
            <div class="menu-option">
                <li class="text_menu">Moje konto</li>
            </div>
        </a>
        <a class="link" th:href="@{/logout}">
            <div class="menu-option">
                <li class="text_menu">Wyloguj się</li>
            </div>
        </a>
    </div>
    <div style="clear: both;"></div>
    <div id="stats">
        <form th:action="@{/myList}" method="post" th:object="${MyListDto}">
            <input style="width: 100%" class="for_stats" type="submit" name="type" value="TV">
            <input style="width: 100%" class="for_stats" type="submit" name="type" value="MOVIE">
        </form>
        <p>Filmy</p>
        <p>Pozycji na liście: <b th:text="${data.getMovieAll()}"></b></p>
        <p>Obejrzane: <b th:text="${data.getMovieWatched()}"></b></p>
        <p>Obecnie oglądane: <b th:text="${data.getMovieWatching()}"></b></p>
        <p>W planach: <b th:text="${data.getMovieFuture()}"></b></p>
        <p>Seriale</p>
        <p>Pozycji na liście: <b th:text="${data.getTvAll()}"></b></p>
        <p>Obejrzane: <b th:text="${data.getTvWatched()}"></b></p>
        <p>Obecnie oglądane: <b th:text="${data.getTvWatching()}"></b></p>
        <p>W planach: <b th:text="${data.getTvFuture()}"></b></p>
        <p>Razem</p>
        <p>Pozycji na liście: <b th:text="${data.getAll()}"></b></p>
        <p>Obejrzane: <b th:text="${data.getAllWatched()}"></b></p>
        <p>Obecnie oglądane: <b th:text="${data.getAllWatching()}"></b></p>
        <p>W planach: <b th:text="${data.getAllFuture()}"></b></p>
        <p>Filtry: </p>
        <form th:action="@{/myListStatus}" method="post" th:object="${MyListDto}">
            <input type="hidden" name="type" th:value="${MyType}">
            <input style="width: 90%" class="for_stats" type="submit" name="status" value="OBEJRZANY">
            <input style="width: 90%" class="for_stats" type="submit" name="status" value="OGLADAM">
            <input style="width: 90%" class="for_stats" type="submit" name="status" value="PLANUJE">
            <input style="width: 90%" class="for_stats" type="submit" name="status" value="ALL">
        </form>
    </div>
    <div id="user_list">
        <div class="bakamovie" th:if="${MyList != null}" th:each="production : ${MyList}">
            <div class="movie">
                <div th:if="${production.myProduction.posterPath != 'https://image.tmdb.org/t/p/originalnull'}">
                    <div th:if="${MyType == 'MOVIE'}">
                        <a th:href="@{/movie(id=${production.myProduction.id})}"><img th:src="${production.myProduction.posterPath}"></a>
                    </div>
                    <div th:if="${MyType == 'TV'}">
                        <a th:href="@{/tvSeries(id=${production.myProduction.id})}"><img th:src="${production.myProduction.posterPath}"></a>
                    </div>
                </div>
                <div th:if="${production.myProduction.posterPath == 'https://image.tmdb.org/t/p/originalnull'}">
                    <div th:if="${MyType == 'MOVIE'}">
                        <a th:href="@{/production(id=${production.myProduction.id})}"><img th:src="@{img/nocover.jpg}"></a>
                    </div>
                    <div th:if="${MyType == 'TV'}">
                        <a th:href="@{/production(id=${production.myProduction.id})}"><img th:src="@{img/nocover.jpg}"></a>
                    </div>

                </div>
                <form th:action="@{/saveStatusList}" method="post" th:object="${ProductionDto}">
                    <input type="hidden" name="type" th:attr="value=${production.type == 'TV' ? 'TV' : 'MOVIE'}">
                    <input type="hidden" th:value="${production.myProduction.getId()}" name="idProduction">
                    <button th:attr="class=${production.status == 'OBEJRZANY' ? 'on_list' : 'add_to_list'}" name="status"
                            th:value="OBEJRZANY">Obejrzane
                    </button>
                    <button th:attr="class=${production.status  == 'OGLADAM' ? 'on_list' : 'add_to_list'}" name="status"
                            th:value="OGLADAM">Oglądam
                    </button>
                    <button th:attr="class=${production.status  == 'PLANUJE' ? 'on_list' : 'add_to_list'}" name="status"
                            th:value="PLANUJE">W planach
                    </button>
                </form>
                <br><br>
                <form th:action="@{/deleteFromList}" method="post" th:object="${ProductionDto}">
                    <input type="hidden" name="type" th:attr="value=${production.type == 'TV' ? 'TV' : 'MOVIE'}">
                    <input type="hidden" th:value="${production.myProduction.getId()}" name="idProduction">
                    <input type="submit" value="usuń z listy">
                </form>
                <div class="rating">
                    <script src="script.js"></script>
                </div>
                <br>

            </div>
        </div>
    </div>
</div>
</body>
</html>
