<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{css/movie.css}">
    <link rel="stylesheet" th:href="@{css/main.css}">
    <title th:if="${Movie != null}" th:text="${Movie.title}"></title>
    <title th:if="${tvSeries != null}" th:text="${tvSeries.name}"></title>
</head>
<body>
<div id="container" th:if="${Movie != null}">
    <div id="menu">
        <a class="link" th:href="@{/movieBest(page='1')}">
            <div class="menu-option">
                <li class="text_menu">Lista filmów</li>
            </div>
        </a>
        <a class="link" th:href="@{/myList}">
            <div class="menu-option">
                <li class="text_menu">Moja lista</li>
            </div>
        </a>
        <a class="link" th:href="@{/settings}">
            <div class="menu-option">
                <li class="text_menu">Moje konto</li>
            </div>
        </a>
        <a class="link" th:href="@{/logout}">
            <div class="menu-option">
                <li class="text_menu">Wyloguj się</li>
            </div>
        </a>
        <div style="clear: both;"></div>
    </div>
    <div class="temp">
        <div class="miniature">
            <img th:src="${Movie.posterPath}" alt="/img/movie.css">
        </div>
        <div class="desc">

            <h1 th:text="${Movie.title}"></h1>

            <h3 th:text="${Movie.overview.isBlank()} ? 'BRAK OPISU' : ${Movie.overview}"></h3>

        </div>
        <div class="menu-list">
            <form th:action="@{/saveStatus}" method="post" th:object="${ProductionDto}">
                <input type="hidden" name="type" th:value="MOVIE">
                <input type="hidden" th:value="${Movie.getId()}" name="idProduction">
                <button th:attr="class=${currentStatus == 'OBEJRZANY' ? 'on_list' : 'add_to_list'}" name="status" th:value="OBEJRZANY">Obejrzane</button>
                <button th:attr="class=${currentStatus == 'OGLADAM' ? 'on_list' : 'add_to_list'}" name="status" th:value="OGLADAM">Oglądam</button>
                <button th:attr="class=${currentStatus == 'PLANUJE' ? 'on_list' : 'add_to_list'}" name="status" th:value="PLANUJE">W planach</button>
            </form>
            <br><br>
            <div class="statusSuccess" th:if="${status} != null ">
                <label th:text="${status} "></label>
            </div>
            <br><br>
            <button class="tag" th:each="tag : ${Movie.getGenres()} " th:text="${tag.getName()}"></button>
        </div>

        <!--    <div class="clearfix"></div>-->

        <!--        <div class="rating">-->
        <!--                  <script src="gwiazdki.js"></script>-->
        <!--        </div>-->
    </div>
</div>
<div id="container" th:if="${tvSeries != null}">
    <div id="menu">
        <a class="link" th:href="@{/movieBest(page='1')}">
            <div class="menu-option">
                <li class="text_menu">Lista filmów</li>
            </div>
        </a>
        <a class="link" th:href="@{/myList}">
            <div class="menu-option">
                <li class="text_menu">Moja lista</li>
            </div>
        </a>
        <a class="link" th:href="@{/settings}">
            <div class="menu-option">
                <li class="text_menu">Moje konto</li>
            </div>
        </a>
        <a class="link" th:href="@{/logout}">
            <div class="menu-option">
                <li class="text_menu">Wyloguj się</li>
            </div>
        </a>

    </div>
    <div style="clear: both;"></div>
    <div class="temp">
        <div class="miniature">
            <img th:src="${tvSeries.posterPath}" alt="/img/movie.css">
        </div>
        <div class="desc">

            <h1 th:text="${tvSeries.name}"></h1>

            <h3 th:text="${tvSeries.overview.isBlank()} ? 'BRAK OPISU' : ${tvSeries.overview}"></h3>

        </div>
        <div class="menu-list">
            <form th:action="@{/saveStatus}" method="post" th:object="${ProductionDto}">
                <input type="hidden" name="type" th:value="TV">
                <input type="hidden" th:value="${tvSeries.getId()}" name="idProduction">
                <button th:attr="class=${currentStatus == 'OBEJRZANY' ? 'on_list' : 'add_to_list'}" name="status" th:value="OBEJRZANY">Obejrzane</button>
                <button th:attr="class=${currentStatus == 'OGLADAM' ? 'on_list' : 'add_to_list'}" name="status" th:value="OGLADAM">Oglądam</button>
                <button th:attr="class=${currentStatus == 'PLANUJE' ? 'on_list' : 'add_to_list'}" name="status" th:value="PLANUJE">W planach</button>
            </form>
            <br><br>
            <div class="statusSuccess" th:if="${status} != null ">
                <label th:text="${status} "></label>
            </div>
            <br><br>
            <button class="tag" th:each="tag : ${tvSeries.getGenres()} " th:text="${tag.getName()}"></button>
        </div>

        <!--    <div class="clearfix"></div>-->

        <!--        <div class="rating">-->
        <!--                  <script src="gwiazdki.js"></script>-->
        <!--        </div>-->
    </div>
</div>
</body>
</html>
