<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" th:href="@{css/movie.css}">
  <link rel="stylesheet" th:href="@{css/main.css}">
  <title th:text="${tvSeries.name}"></title>
</head>
<body>
<div id="container">
  <?php require_once "menu.php"; ?>
  <div class="temp">



    <!--    <h1 style="color:#F0F8FF; text-align:center;">Coś poszło nie tak, spróbuj ponownie.</h1>-->

    <!--    <span style="color:red">Błąd serwera! Przepraszamy za niedogodnosci i prosimy spróbować ponownie później.</span>-->
    <!--    <br />Informacja deweloperska: '.$e;-->

    <div class="miniature">


      <img th:src="${tvSeries.posterPath}" alt="/img/movie.css">
    </div>


    <div class="desc">

      <h1>' . $result->name . '</h1>

      <p>' . $result->overview . '</p>

      <h3>BRAK OPISU</h3>

    </div>

    <div class="clearfix"></div>


    <div class="menu-list">
      <form action="zmien_status.php?id='.$id.'&type='.$type.'" method="POST">
        <button class="add_to_list" name="obejrzane">Obejrzane</button>
        <button class="add_to_list" name="ogladam">Oglądam</button>
        <button class="add_to_list" name="plany">W planach</button>

        <button class="on_list" name="obejrzane">Obejrzane</button>
        <button class="add_to_list" name="obejrzane">Obejrzane</button>
        <button class="on_list" name="ogladam">Oglądam</button>
        <button class="add_to_list" name="ogladam">Oglądam</button>

        <button class="on_list" name="plany">W planach</button>
        <button class="add_to_list" name="plany">W planach</button>

      </form>
      <br><br>


      <button class="tag">' . $result->genres[$i]->name . '</button>

    </div>

    <div class="miniature">

      <img src="' . $poster . '" alt="film miniature">
    </div>

    <div class="desc">

      <h1 th:text="${tvSeries.name}"></h1>

      <h3 th:text="${tvSeries.overview.isBlank()} ? 'BRAK OPISU' : ${tvSeries.overview}"></h3>

      <!--    <h3>BRAK OPISU</h3>-->

    </div>

    <div class="clearfix"></div>
    <div class="menu-list">
      <form action="zmien_status.php?id='.$id.'&type='.$type.'" method="POST">

        <button class="on_list" name="obejrzane">Obejrzane</button>
        <button class="add_to_list" name="obejrzane">Obejrzane</button>
        <button class="on_list" name="ogladam">Oglądam</button>

        <button class="add_to_list" name="ogladam">Oglądam</button>
        <button class="on_list" name="plany">W planach</button>
        <button class="add_to_list" name="plany">W planach</button>

      </form>
      <br><br>

      <button class="tag">' . $result->genres[$i]->name . '</button>


    </div>


    <div class="rating">
      <!--      <script src="gwiazdki.js"></script>-->

    </div>
  </div>
</div>
</body>
</html>
